<% if(typeof errors != 'undefined' ) { %>
    <% errors.forEach(function(error){ %>
        <p>
            <%= error.msg %>
        </p>
    <% }) %>
<% } %>
<% if(success_msg != '') { %>
    <p><span id="message"><%= success_msg %></span></p>
<% } %>
<% if(error_msg != '') { %>
    <p><span id="message"><%= error_msg %></span></p>
<% } %>
<% if(error != '') { %>
    <p><span id="message"><%= error %></span></p>
<% } %>