<h1>Login</h1>
<form action="/users/login" method="POST">
    <div>
        <label for="email">Email:
            <input id="email" type="email" name="email" placeholder="Enter Email"/>
        </label>
    </div>
    <div>
        <label for="password">Password:
            <input id="password" type="password" name="password" placeholder="Enter Password"/>
        </label>
    </div>
    <button id="submit" type="submit" class="btn btn-primary btn-block">Login</button>
    <p>
        <%- include ('./partials/messages') %>
    </p>
</form>